body {
    background: gainsboro;
}
h1 {
    color: blue;
}
// Material design resets
.container .row .col.m4 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em;
    background: #FFF;
    cursor: pointer;
    min-height: 25em;
}
nav .brand-logo {
    margin-left: 1em;
}
nav .right {
    margin-right: 1em;
}
table tr {
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin: 7em;
    background: white;
    padding: 5em;
    cursor: pointer;
}
table td, table th {
    padding: 1em;
}
table thead td a {
    color: #4c4c4c;
}
.collection.noMargTop {
    margin-top:0;
    padding-top:0;
}
table img,
div.collection ul li img {
    width: 100%;
}
img.smileImg {
    width: 1.5em;
    margin: 0.25em;
}
img.smileImgFooter {
    width: 1.5em;
    vertical-align: middle;
}
img.smileImg ~ small {
    // border: .1em solid orange;
    display: inline-block;
    font-size: .4em;
    display: inline;
    position: relative;
    bottom: 2em;
}
footer.blue.lighten-2 {
    display: flex;
    padding: 1em;
}
footer.blue.lighten-2 ul {
    display: inline-block;
    padding: 1em 0;
    margin: 0;
}
footer.blue.lighten-2 ul.alignLeft {
    padding: 0;
}
footer.blue.lighten-2 .container .row {
    margin-bottom: 0;
}
footer.blue.lighten-2 ul.alignLeft {
    float:left;
}
footer.blue.lighten-2 ul.alignLeft li {
    padding-right: 1em;
}
footer.blue.lighten-2 ul.alignRight {
    float:right;
}
footer.blue.lighten-2 ul.alignRight li {
    padding-left: 1em;
}
footer.blue.lighten-2 ul li a {
    color: #FFF;
}
footer.blue.lighten-2 ul li {
    display: inline;
    color: #FFF;
}
